@charset "utf-8";
/* @import url('./styleChecker.css'); */

html,
body {
  height: 100%;
}

#wrapper {
  background-color: #eee;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 64% 2rem 3fr;
}

#editorWrap {
  height: 100%;
  width: 100%;
  /* background-color: brown; */
}

#monacoEditor {
  height: 100%;
  width: 100%;
}

#controller {
  /* background-color: chartreuse; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#boxConsole {
  /* background-color: blueviolet; */
  height: 100%;
  width: 100%;
  /* font-family: monospace, serif; */
  overflow-y: scroll;
}

.commands {
  display: inline-block;
  margin: 0.75em 0.25em;
  font-size: 0.8em;
  border: 0 none;
  border-radius: 3px;
  padding: 0.25em 1em;
  color: white;
}

#runCode {
  background-color: #5cb85c;
}

#clearConsole {
  background-color: #999999;
}

#clearCode {
  background-color: red;
}

table {
  width: 100%;
  table-layout: fixed;
}

table td {
  background: #eee;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

table tr:nth-child(odd) td {
  background: #fff;
}

tr td:nth-of-type(1) {
  width: 4.8rem;
  text-align: center;
  user-select: none;
}

tr td:nth-of-type(2) {
  width: 2.8rem;
  text-align: center;
  user-select: none;
}

.success code {
  color: var(--bs-primary-text-emphasis);
}